{% extends 'base.html' %}



{% block content %}
<style>
    body{
        margin:150px;
        width:650px;
    }


    #message_color{
        background-color: #4682b4;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }


</style>

<h1>Student form page</h1>

<div class = "card">
    <div class="card-body"
        {% if messages|length > 0 %}
            {% for messages in messages %}
            <span id="message_color">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>{{message}}<br><br>
            </span>
            {% endfor %}
        {% endif %}
        <form method="post" action="" id="studentform" >    
            {% csrf_token %}       
        {{ form.as_p}}

        <button type="submit" class="btn btn-primary" value="Submit" id="studentformbtn">
            Submit Student
        </button>
    </form>
    </div>
</div>



{% endblock %}